<nav class="z-50 bg-gray-50  border-gray-200 dark:bg-gray-900 fixed top-0 left-0 right-0 mb-50 shadow-md ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href=" https://routeegy.github.io/Ecommerce" class="flex items-center space-x-3 rtl:space-x-reverse">
      <i  class="fa-solid fa-cart-shopping nav-icon text-3xl text-green-600"></i>
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">fresh cart</span>
    </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

    <ul class="flex  p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-gray-50 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

      @if (!enableNavbbar) {
      <li><a routerLink="register" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">register</a></li>
      <li><a routerLink="login" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">log in</a></li>
    }
    @if (enableNavbbar) {
    <li>
      <div class="relative inline-block">
        <i class="fas fa-shopping-cart text-gray-700 text-2xl"></i>
        <span class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-green-500 text-white text-xs font-bold px-2 py-1 rounded-full">
          0
        </span>
      </div>
    </li>

  <li>
    <a (click)="signOut()" routerLink="signout" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">sign out</a></li>}

    </ul>
    <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex bg-gray-200 items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">

    @if (enableNavbbar) {
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-gray-50 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li><a routerLink="home" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Home</a></li>
      <li><a routerLink="cart" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Cart</a></li>
      <li><a routerLink="wish-list" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Wish List</a></li>
      <li><a routerLink="products" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Products</a></li>
      <li><a routerLink="categories" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Categories</a></li>
      <li><a routerLink="brands" routerLinkActive="text-black" class="block py-2 px-3 text-gray-500 md:p-0 hover:text-black transition">Brands</a></li>

    </ul>}
  </div>
  </div>
</nav>
