<!-- <p>wish-list works!</p> -->

<div class="container mx-auto mt-10 pt-10">

  @if (loading) {

    <app-loder></app-loder>
  }

  @else {

    @if (wishlistData.count> 0) {

      <div class="sm:flex shadow-md my-10">
        <div class="w-full sm:w-3/4 bg-white px-10 py-10">
          <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-4xl ">wish-list</h1>
            <h2 class="font-semibold text-2xl">{{ wishlistData.count}} Items</h2>
          </div>

          @for (p of Products; track $index) {
            <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
              <div class="md:w-4/12 2xl:w-1/4 w-full">
                <img [src]="p.imageCover" alt="Black Leather Purse"
                     class="h-full object-center object-cover" />
              </div>
<div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
 <div class="flex items-center justify-between w-full">
<p class="text-base font-black leading-none text-gray-800">
                    {{p.title}}
                  </p>
                </div>
                <div class="flex items-center justify-between pt-5">
                  <div class="flex itemms-center">
                    <p (click)="removeItem(p._id)"
                       class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">
                      Remove
                    </p>
                  </div>
                  <p class="text-base font-black leading-none text-gray-800">
                    {{p.price}} LE
                  </p>
                </div>
              </div>
            </div>
          }

          <a href="#" class="flex font-semibold text-green-700 text-sm mt-10">
            Continue Shopping
          </a>
        </div>

      </div>
    }
    @else {
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight mt-20 pt-20  text-green-700
                 md:text-5xl lg:text-6xl flex justify-center items-center">
      wish-list is empty
      </h1>
    }
  }
</div>


